body {
    font-family: "Vazirmatn", sans-serif;
    background-color: #f8e8ff;
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #b97eba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}
