/* تنظیمات کلی صفحه */
body {
    font-family: 'Tahoma', sans-serif;
    background-color: #ebf3ad;
    text-align: center;
    padding: 50px;
}
h1 {
    animation: fadeIn 1s ease-in-out;
}

/* استایل متن */
h1 {
    font-size: 24px;
    color: #333;
    background-color: #f6fa05;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: bounce 0.2s infinite alternate;
}


/* افکت انیمیشن برای متن */
h1 {
    animation: bounce 0.5s infinite alternate;
}
.h {
    font-size: 24px;
    color: #333;
    background-color: #f0f278;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.h {
    animation: bounceee 0.5s infinite alternate;    
}
.h:hover {
    background-color: #edd712;
    transform: scale(1.1);
    border-color: #c2e60f;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50px);
    }
}
@keyframes bouncee {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}
@keyframes bounceee {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateX(20px);
    }
}



.c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.cc {
    padding: 15px 20px;
    background-color: #f5ed0b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    animation: bouncee 0.5s infinite alternate;
}

.cc:hover {
    background-color: #eddd05;
    transform: scale(1.1);
    border-color: #e7edea;
}
